.note-item {
    list-style: none;
    padding: 0;
    border: 1px solid rgba(0,0,0, .2);

    li {
        overflow: hidden;
        padding: 6px 10px;
        font-size: 20px;

        &:first-child {
            font-weight: bold;
            padding: 10px 0 10px 15px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0,0,0, .2);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            color: #7C7D7F;
            font-size: 24px;
            box-shadow: 0 10px 20px -5px rgba(0,0,0, .2);
            position: relative;

            a {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }

            &:before {
                content: "\2751";
                margin-right: 10px;
            }
        }
    }
    
    span {
        color: #7C7D7F;
    }
}