.new-note {

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__input {
        position: relative;
        width: 100%;
        display: flex;

        span {
            position: absolute;
            top: calc(100% + 10px);
            left: 0;
            color: red;
            font-size: .8em;
        }
    }
}