.note {
    &__buttons {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;

        button {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}