input[type=checkbox] {
    display: none;
}

.todo {
    position: relative;
    padding: 15px 40px;
    border-bottom: 1px solid #1effbc;
    box-sizing: border-box;

    &__check {
        position: absolute;
        left: 10px;
        top: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid #1effbc;
        transform: translateY(-50%);
        cursor: pointer;

        .todo--done &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            border-bottom: 2px solid #1effbc;
            border-left: 2px solid #1effbc;
            height: 5px;
            width: 12px;
            transform: translate(-50%, -50%) rotate(-45deg); 
        }
    }
}